/* Basic custom styles */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Tabs logic */
.tab-btn {
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.tab-btn.active {
    color: #3C50E0;
    border-bottom-color: #3C50E0;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}